.color-picker {
  display: flex;
  align-items: center;
  max-width: 500px;
  border: 1px solid #cccccc;
}

.color-picker__controls,
.color-picker__preview {
  padding: 1rem;
}

.color-picker__controls {
  display: flex;
  flex: 1 1 auto;
}

.color-picker__description {
  flex: 0 1 auto;
  margin: 0 1rem 0 0;
}

.color-picker__controls input {
  flex: 1 0 auto;
  margin: 0;
}

.color-picker__preview-pane {
  display: block;
  width: 50px;
  height: 50px;
}